apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- hpa.yaml

images:
- name: spring-boot-grpc
  newTag: latest

commonLabels:
  app: spring-boot-grpc
  version: v1.0.0