apiVersion: v1
kind: Service
metadata:
  name: spring-boot-grpc-service
  namespace: grpc-app
  labels:
    app: spring-boot-grpc
spec:
  type: LoadBalancer
  selector:
    app: spring-boot-grpc
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  - name: grpc
    port: 9090
    targetPort: 9090
    protocol: TCP